body, html {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    letter-spacing: 0.01em;
}
#mediaHeader{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 2;
    display: none;
    border-bottom: 1px solid #add9e7;

}
#mediaHeader .hamburgerMenu{
    width: calc(10% - 1px);
}
#mediaHeader .hamburgerMenu .icon{
    padding: 16px 0 15px 0;
    border-right: 1px solid #add9e7;
    margin: 0 auto;
}
#mediaHeader .hamburgerMenu .icon .line{
    background: #77787b;
    width: 26px;
    height: 2px;
    margin: 6px auto;
}
#mediaHeader .hamburgerMenu .hamburgerTabs{
    display: none;
    position: absolute;
    background: white;
    width: 100%;
    margin-top: 1px;
    text-align: center;
}
#mediaHeader .hamburgerMenu .hamburgerTabs .hamburgerMainTabs{
    width: 50%;
    border-bottom: 1px solid #add9e7;
    padding: 15px 0;
    font-size: 1.2em;
    color: #333333;
}
#mediaHeader .hamburgerMenu .hamburgerTabs .hamburgerMainTabs:first-child{
    color: #BD4F5C;
    border-right: 1px solid #add9e7;
    width: calc(50% - 1px);
}
#mediaHeader .hamburgerMenu .hamburgerTabs .hamburgerSubTabs{
    width: 100%;
    border-bottom: 1px solid #add9e7;
    padding: 15px 0;
    font-size: 0.9em;
}
#mediaHeader .hamburgerMenu .hamburgerTabs .hamburgerAccount{
    width: 50%;
    background: #ADD8E6;
    padding: 20px 0;
    font-size: 1.1em;
    color: #363636;
}
#mediaHeader .hamburgerMenu .hamburgerTabs > .hamburgerAccount{
    border-right: 1px solid white;
    width: calc(50% - 1px);
}
#mediaHeader .hamburgerMenu:hover .hamburgerTabs{
    display: flex;
    flex-wrap: wrap;
}
#mediaHeader .mediaLogo{
    width: calc(80% - 1px);
    border-right: 1px solid #add9e7;
    text-align: center;
    padding: 10px 0;
    margin: auto auto;
    height: 40px;
}
#mediaHeader .mediaLogo img{
    height: 100%;
}
#mediaHeader .mediaSearch{
    width: calc(5% - 1px);
    border-right: 1px solid #add9e7;
    text-align: center;
    margin: auto 0;
    padding: 18px 0;
    vertical-align: middle;
}
#mediaHeader .mediaSearch img{
    width: 20px;
}
#mediaHeader .mediaShoppingCart{
    width: 5%;
    text-align: center;
    margin: auto auto;
    opacity: 0.45;
}
#mediaHeader .mediaShoppingCart img {
    width: 20px;
}
#header{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 2;
}
#header .search input{
    width: 100%;
    border: none;
    padding: 18px 20px 18px 75px;
    outline: none;
    background: url("..//Icons/search.svg") no-repeat;
    background-size: 24px;
    background-position: 40px 16px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    color: #333333;
    letter-spacing: 0.03em;
    font-size: 19px;
    border-bottom: 1px solid #add9e7;
}
#header .menu{
    display: flex;
    align-content: center;
    width: 100%;
    border-bottom: 1px solid #add9e7;
    cursor: default;
}
#header .menu .leftMenu{
    display: flex;
    align-content: flex-start;
    width: 33.33%;
}
#header .menu .menuTab{
    width: 150px;
    margin: auto 0;
    text-align: center;
    height: 90px;
    display: flex;
    justify-content: center;
    color: #333333;
}
#header .menu .menuTab:hover{
    background-color: #9AD9E4;
    transition: background-color .8s;
}
#header .menu .leftMenu .menuTab{
    width: calc(50% - 1px);
    border-right: 1px solid #add9e7;
    margin: auto 0;
    display: flex;
    align-items: center;
    font-size: 20px;
}
#header .menu .rightMenu .menuTab{
    width: 33.33%;
    border-right: 1px solid #add9e7;
    margin: auto 0;
    display: flex;
    align-items: center;
}
#header .menu .rightMenu .menuTab img{
    width: 20px;
    opacity: 0.7;
}
#header .menu .logo{
    display: flex;
    align-content: flex-start;
    border-right: 1px solid #add9e7;
    width: 33.33%;
    height: 90px;
    text-align: center;
}
#header .menu .logo img{
    max-height: 44px;
    margin: auto auto;
}
#header .menu .rightMenu{
    display: flex;
    align-content: flex-end;
    width: 33.33%;
}
.leftMenu .menuTab .bridge{
    width: 200px;
    height: 50px;
    background-color: transparent;
    position: absolute;
}
.menu .leftMenu .menuTab .dropDownMenu{
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    background-color: white;
    margin-top: 292px;
    width: 100%;
    text-align: left;
}
.leftMenu .menuTab:hover .dropDownMenu{
    display: block;
}
.leftMenu .menuTab .dropDownMenu .dropDownMenuContent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid #add9e7;
}
.menu .leftMenu .menuTab .dropDownMenu .dropDownMenuContent .dropDownMenuSection{
    border-right: 1px solid #add9e7;
    width: calc(17% - 41px);
    padding: 20px 20px;

}
.menu .leftMenu .menuTab .dropDownMenu .sectionTitle{
    font-size: 19px;
    letter-spacing: 0.01em;
    margin: 35px 0 10px 0;
}
.menu .leftMenu .menuTab .dropDownMenu .sectionTitle.First{
    margin: 10px 0 15px 0;
}
.menu .leftMenu .menuTab .dropDownMenu .sectionSubTitle{
    font-size: 14px;
    letter-spacing: 0.01em;
    text-align: left;
    margin: 10px 0;
    color: #818181;
}
.menu .leftMenu .menuTab .dropDownMenu .sectionContact{
    margin: 40px 0 5px 0;
    font-size: 16px;
    letter-spacing: 0.01em;
}
.menu .leftMenu .menuTab .dropDownMenu .contactInfo{
    font-size: 14px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #BD4F5C;
    margin: 3px 0;
}
.menu .leftMenu .menuTab .dropDownMenu .sectionTitle:hover{
    text-decoration: underline;
}
.menu .leftMenu .menuTab .dropDownMenu .sectionSubTitle:hover{
    text-decoration: underline;
}
.menu .leftMenu .menuTab .dropDownMenu .sectionContact:hover{
    text-decoration: underline;
}
.menu .leftMenu .menuTab .dropDownMenu .contactInfo:hover{
    text-decoration: underline;
}
.menu .leftMenu .menuTab .dropDownMenu .dropDownMenuContent .dropDownMenuAd{
    width: 32%;
    margin: 20px 0;
    text-align: center;
}
.menu .leftMenu .menuTab .dropDownMenu .dropDownMenuContent .dropDownMenuAd. img{
    width: 100%;
}

.banner{
    width: 100%;
    position: relative;
    z-index: 0;
    padding-top: 150px;
}
.banner .bannerTitle{
    position: absolute;
    top: 50%;
    left: calc(50% - 200px);
    color: white;
    font-size: 130px;
}
.banner img{
    width: 100%;
}
.productsSearch{
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    padding: 30px 0;
    height: 45px;
    border-bottom: 1px solid #add9e7;
    margin: 0 10px;
}
.productsSearch .productsTitle{
    width: calc(10% - 30px);
    display: flex;
    justify-content: center;
    border-right: 1px solid #add9e7;
    text-align: center;
    padding: 0 10px 0 20px;
    font-size: 19px;
    align-items: center;
}
.productsSearch .productTabs{
    display: flex;
    width: calc(90% - 40px);
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}
.productsSearch .productTabs .productsTab{
    margin-left: 7px;
    font-size: 19px;
    color: #cccccc;
    justify-items: center;
    text-decoration: none;
}
.productsSearch .productTabs .productsTab.Selected{
    color: #BD4F5C;
}
.productsSearch .productTabs .productsTab:after{
    content:"/";
    margin:0 5px;
}
.productsSearch .productTabs .productsTab:last-child:after{
    content:"";
}
.productsSearch .productTabs .productsTab a:hover{
    text-decoration: underline;
    cursor: default;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex: 1 100%;
}
.gallery .filter{
    margin-top: 30px;
    width: calc(18% - 30px);
    padding: 0 15px;
}
.gallery .filter .filterMobile{
    display: none;

}
.gallery .filter .filterCategories{
    color: #cccccc;
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    letter-spacing: 0.01em;
    padding-bottom: 25px;
    border-bottom: 1px solid #add9e7;
}
.gallery .filter .filterCategories .filterCategory{
    width: 100%;
}
.gallery .filter .filterCategories .filterMobileSubCategory{
    display: none;
}
.gallery .filter .filterCategories .filterCategory.Selected{
    color: #BD4F5C;
}
.gallery .filter .filterCategories .filterCategory:hover{
    text-decoration: underline;
    cursor: default;
}
.gallery .filter .filterProducts{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.gallery .filter .filterProducts .filterProduct{
    width: calc(50% - 1px);
    display: block;
    margin: 25px 0;
    text-align: center;
    color: #cccccc;
    font-size: 1.1em;
}
.gallery .filter .filterProducts .filterProduct:hover{
    color: #333333;
    transition: color 0.5s;
    cursor: default;
}
.gallery .filter .bottomBorder{
    width: 100%;
    height: 1px;
    background-color: #add9e7;
}

.gallery .filter .filterProducts .filterProduct.Border{
    border-right: 1px solid #add9e7;
}
.gallery .filter .filterProducts .filterProduct .redSquares{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gallery .filter .filterProducts .filterProduct .redSquares .redSquare{
    width: 10px;
    height: 10px;
    background-color: #BD4F5C;
    margin: 4px 3px;
}
.gallery .filter .filterProducts .filterProduct .graySquare{
    width: 18px;
    height: 18px;
    background-color: #ccc;
    margin: auto auto;
}
.gallery .filter .shareCollection{
    font-family: Helvetica;
    font-size: 11px;
    letter-spacing: 0.08em;
    color: #BD4F5C;
    text-align: center;
    padding: 20px;
}
.gallery .filter .shareCollection:hover{
    text-decoration: underline;
}
.gallery .products{
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 70px;
}
.gallery .products .product{
    width: calc(33.33% - 50px);
    margin:20px 25px;

}
.gallery .products .product .productImage{
    width: 100%;
}
.gallery .products .product .productImage img{
    width: 100%;
}
.gallery .products .product .productDescription{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.2em;
    color: #333333;
    margin-top: 10px;
}
.gallery .products .product .productPrice{
    width: 100%;
    display: block;
    font-family: Helvetica;
    font-size: 18px;
    letter-spacing: 0.15em;
    text-align: center;
    color: #98b859;
    margin: 10px 0;
}
.footer{
    display: flex;
    flex-wrap: wrap;

}
.footer .footerMenu{
    width: 100%;
}
.footer .footerMenu .footerMenuTabs{
    width: 100%;
    border-top: 1px solid #add9e7;
    border-bottom: 1px solid #add9e7;
    display: flex;

}
.footer .footerMenu .footerMenuTabs .footerMenuTab{
    width: calc(25% - 1px);
    text-align: center;
    border-right: 1px solid #add9e7;
    padding: 30px 0;
    font-size: 1.3em;

}
.footer .footerMenu .footerMenuTabs .footerMenuTab:hover{
    background-color: #9AD9E4;
    transition: background-color 0.8s;
    cursor: default;
}
.footer .footerMenu .footerMenuTabs:last-child{
    border-right: none;
}
.footer .footerInfo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #add9e7;
}
.footer .footerInfo .newsletter{
    width: calc(33.33% - 21px);
    border-right: 1px solid #add9e7;
    margin:20px 10px;
}
.footer .footerInfo .newsletter .newsletterTitle{
    font-size: 21px;
    color: #818181;
    text-align: center;
    padding: 20px 0;
}
.footer .footerInfo .newsletter .newsletterDescription{
    font-size: 16px;
    color: #818181;
    text-align: center;
    max-width: 310px;
    margin: 0 auto;
    letter-spacing: 0.03em;
    line-height: 22px;
}
.footer .footerInfo .newsletter .emailAddress{
    text-align: center;
    padding-top: 10px;
    margin: 15px 0;
}
.footer .footerInfo .newsletter .emailAddress input{
    text-align: center;
    font-family: 'Cormorant Garamond';
    letter-spacing: 0.02em;
    font-size: 18px;
    color: #333333;
    width: 280px;
    height: 36px;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    outline: none;
}
.footer .footerInfo .newsletter .subscribeButton {
    text-align: center;
}

.footer .footerInfo .newsletter .subscribeButton input{
    width: 150px;
    padding: 15px;
    border-radius: 3px;
    font-family: Helvetica;
    font-size: 9px;
    font-weight: 300;
    letter-spacing: .3em;
    color: white;
    border: none;
    outline: none;
    background-color: #59767a;
}
.footer .footerInfo .newsletter .subscribeButton:hover input{
    background-color: #688386;
    transition: background-color .4s;
}

.footer .footerInfo .footerAd{
    width: calc(33.33% - 1px);
    border-right: 1px solid #add9e7;
    text-align: center;
    margin: 20px 0;
    padding: 20px 0;
}
.footer .footerInfo .footerAd img{
    width: 300px;
}
.footer .footerInfo .contactInfo{
    width: 33.33%;
    line-height: 20px;
    font-size: 15px;
}
.footer .footerInfo .contactInfo .contactInfoSection{
    text-align: center;
}
.footer .footerInfo .contactInfo .contactInfoTitle.Top{
    padding: 40px 0 10px 0;
}
.footer .footerInfo .contactInfo .contactInfoTitle{
    font-size: 21px;
    color: #818181;
    text-align: center;
    padding: 25px 0 10px 0;
}
.footer .footerInfo .contactInfo .contactInfoDetails h4{
    display: inline;
    font-weight: 400;
}
.footer .footerInfo .contactInfo .contactInfoDetails{
    color: #BD4F5C;
}
.footer .footerInfo .contactInfo h4{
    color: #818181;
    padding-right: 5px;
    display: inline;
    font-weight: 400;
}
.footer .footerInfo .contactInfo .contactInfoSection .socialMedia{
    display: inline;
    color: #BD4F5C;
}
.tradeMark{
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 20px 0;
}
.tradeMark h4{
    display: inline;
    color: #BD4F5C;
    font-weight: 400;
}



@media (max-width: 1023px) {
    #mediaHeader {
        display: flex;
        flex-wrap: wrap;
    }
    #header {
        display: none;
    }
    .banner{
        padding-top: 62px;
    }
    .banner .bannerTitle{
        position: absolute;
        top: 40%;
        left: calc(50% - 150px);
        color: white;
        font-size: 100px;
    }
    .productsSearch{
        width: 100%;
        display:flex;
        justify-content: center;
        padding: 20px 0;
        height: 45px;
        border-bottom: 1px solid #add9e7;
        margin: 0 0;
    }
    .productsSearch .productsTitle{
        width: calc(48% - 41px);
        display: flex;
        justify-content: flex-end;
        border-right: 1px solid #add9e7;
        font-size: 1.3em;
        margin: 0;
        padding-right: 40px;
        padding-left: 0;
    }
    .productsSearch .productTabs{
        width: calc(52% - 40px);
        justify-content: flex-start;
        margin: 0;
        padding-left: 40px;
    }
    .productsSearch .productTabs .productsTab{
        display: none;
        margin: 0;
        justify-content: flex-start;
    }
    .productsSearch .productTabs .productsTab.Selected{
        width: 100%;
        display: block;
        color: #333333;
        font-size: 1.3em;
    }
    .productsSearch .productTabs .productsTab:after{
        content:"";
        margin: 0;
    }


    .gallery .filter{
        margin-top: 0;
        width: 100%;
        padding: 0;
    }
    .gallery .filter .filterMobile{
        /*display: block;*/
    }
    .gallery .filter .filterCategories{
        display: flex;
        flex-wrap: wrap;
        color: #cccccc;
        text-align: center;
        font-size: 0.95em;
        line-height: 28px;
        letter-spacing: 0.01em;
        padding: 0;
        width: 100%;
        border-bottom: none;
    }
    .gallery .filter .filterCategories .filterCategory{
        width: 50%;
        padding: 22px 0;
        text-align: center;
        border-bottom: 1px solid #DDDDDD;
        margin: auto 0;
    }
    .gallery .filter .filterCategories .filterCategory:nth-child(even){
        border-right: 1px solid #DDDDDD;
        width: calc(50% - 1px);
    }
    .gallery .filter .filterCategories .filterCategory:last-child{
        padding: 36px 0;
    }
    .gallery .filter .filterCategories .filterCategory.Selected{
        color: #BD4F5C;
        background: #F1F1F1;
    }
    .gallery .filter .filterCategories .filterCategory:hover{
        text-decoration: underline;
        cursor: default;
    }
    .gallery .filter .filterProducts{
        width: 100%;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .gallery .filter .filterProducts .filterProduct{
        width: calc(50% - 1px);
        display: block;
        margin: 0;
        padding: 22px 0;
        text-align: center;
        color: #cccccc;
        font-size: 1.1em;
    }
    .gallery .filter .filterProducts .filterProduct:hover{
        color: #333333;
        transition: color 0.5s;
        cursor: default;
    }
    .gallery .filter .bottomBorder{
        width: 100%;
        height: 1px;
        background-color: #DDDDDD;
    }

    .gallery .filter .filterProducts .filterProduct.Border{
        border-right: 1px solid #DDDDDD;
    }
    .gallery .filter .filterProducts .filterProduct .redSquares{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .gallery .filter .filterProducts .filterProduct .redSquares .redSquare{
        width: 10px;
        height: 10px;
        background-color: #BD4F5C;
        margin: 4px 3px;
    }
    .gallery .filter .filterProducts .filterProduct .graySquare{
        width: 18px;
        height: 18px;
        background-color: #ccc;
        margin: auto auto;
    }
    .gallery .filter .shareCollection{
        display: none;
    }
    .gallery .filter .shareCollection:hover{
        text-decoration: underline;
    }


    .gallery .products{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 70px;
    }
    .gallery .products .product{
        width: calc(50% - 80px);
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 30px 40px;
    }
    .gallery .products .product:last-child{
        display: none;
    }
    .gallery .products .product .productImage{
        width: 100%;
    }
    .gallery .products .product .productImage img{
        width: 100%;
    }
    .gallery .products .product .productDescription{
        width: 100%;
        display: block;
        text-align: center;
        font-size: 1.2em;
        color: #333333;
        margin-top: 10px;
    }
    .gallery .products .product .productPrice{
        width: 100%;
        display: block;
        font-family: Helvetica;
        font-size: 18px;
        letter-spacing: 0.15em;
        text-align: center;
        color: #98b859;
        margin: 10px 0;
    }
    .footer{
        display: none;
    }
}




